# PROYECTO 
# Diego Valle 
# Carné: 20003022 

## Instalando paquetes
Se instalan a continuación el paquete scikit-learn, seaborn

pip install -U scikit-learn

pip install seaborn

Iniciamos con la carga de los datos, para lo cual debemos llamar a **numpy** y tenerlo en la variable np

In [1]:
import numpy as np

In [4]:
import pandas as pd

In [25]:
X=np.array(np.load('proyecto_training_data.npy'))

Se realiza el slicing con Numpy para crear dos datasets

In [35]:
divideDatos=(int(X.size*0.8))
print("Se dividirá en 80% y 20% de los datos, quedando ")
print(divideDatos, " datos en entrena y ")
print((X.size-divideDatos), " para validar")
entrena, valida=X[:7007,:], X[7008:,:]

Se dividirá en 80% y 20% de los datos, quedando
7008  datos en entrena y
1752  para validar

Colocando datos en Dataframe de Pandas

In [51]:
EntrenaPandas=pd.DataFrame(entrena,columns=['SalesPrice','OverallQual','1stFlrSF','TotRmsAbvGrd','YearBuilt','LotFrontage'])
EntrenaPandas.astype({"SalesPrice": float, "OverallQual":int, "1stFlrSF":float, "TotRmsAbvGrd":float, "YearBuilt":int, "LotFrontage":float})

      SalesPrice  OverallQual  1stFlrSF  TotRmsAbvGrd  YearBuilt  LotFrontage
0       208500.0            7     856.0           8.0       2003         65.0
1       181500.0            6    1262.0           6.0       1976         80.0
2       223500.0            7     920.0           6.0       2001         68.0
3       140000.0            7     961.0           7.0       1915         60.0
4       250000.0            8    1145.0           9.0       2000         84.0
...          ...          ...       ...           ...        ...          ...
1455    175000.0            6     953.0           7.0       1999         62.0
1456    210000.0            6    2073.0           7.0       1978         85.0
1457    266500.0            7    1188.0           9.0       1941         66.0
1458    142125.0            5    1078.0           5.0       1950         68.0
1459    147500.0            5    1256.0           6.0       1965         75.0

[1460 rows x 6 columns]

Mostrando datos estadísticos de resumen del dataset "entrena", en esta tabla se muestra la cantidad de elementos que contiene, la media, la desviación estándar, el mínimo, 20% 50% y 75%, además del valor máximo.

In [52]:
EntrenaPandas.describe()

,SalesPrice,OverallQual,1stFlrSF,TotRmsAbvGrd,YearBuilt,LotFrontage
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1201.000000
mean,180921.195890,6.099315,1162.626712,6.517808,1971.267808,70.049958
std,79442.502883,1.382997,386.587738,1.625393,30.202904,24.284752
min,34900.000000,1.000000,334.000000,2.000000,1872.000000,21.000000
25%,129975.000000,5.000000,882.000000,5.000000,1954.000000,59.000000
50%,163000.000000,6.000000,1087.000000,6.000000,1973.000000,69.000000
75%,214000.000000,7.000000,1391.250000,7.000000,2000.000000,80.000000
max,755000.000000,10.000000,4692.000000,14.000000,2010.000000,313.000000